.header {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height:150px;
  border-radius:0 0 20px 20px;
  z-index:900;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,0.1);
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.1);

}
.header-right {
  display:flex;
  flex-direction:row;
}

.header img {
  height:110px;
  margin: 18px 0 0 70px;
  border-radius:10px;
  box-shadow:0px 0px 0px rgba(84, 84, 84, 0.2);
}

.header-title {
  margin:30px 0 0 10px;
  padding:0;
  text-shadow:0px 0px 5px rgba(239, 173, 6, 0.1);
  color: rgb(236, 171, 7);
}

.header-title-main {
  margin:0;
  padding:0;
  font-size: 42px;
  font-weight:600;
  line-height:50px;
}

.header-title-sub {
  margin:0 0 0 7px;
  padding:0;
  font-size: 27px;
  font-weight:500;
  line-height:27px;
}

.header-title-sub1 {
  margin:0 0 0 7px;
  padding:0;
  font-size: 15px;
  font-weight:400;
  text-shadow:0px 0px 0px rgba(239, 173, 6, 0.1);
  color: rgb(137, 100, 6);
}

.header-left {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: end;
  row-gap:8px;
  margin:0px 50px 0 0;
  background-color: rgb(255, 255, 255);
}

.header-left div {
  display:flex;
  flex-direction:row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  margin:0;
  padding:0;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: border-width 0.2s, font-size 0.2s;
}

.header-left div:hover {
  border-top-width:2px;
  border-right-width:5px;
  font-size: 19px;
}

.header-left img {
  height:25px;
  padding:0;
  margin:0 0 0 3px;
}

